<div class="container">
  <div class="row">

    <h1><%= @list.name %> Tasks</h1>

    <form class="form-inline" id="add-task-form" action="/tasks/" method="post">
      <input id="_method" name="_method" type="hidden" value="post">
      <input type="hidden" value="<%= @list.id %>" name="task[list_id]">

    <table class="table table-hover">
      <thead><tr><th>Name</th><th>Done?</th><th>Due Date</th></tr>
      <!-- <tfoot><tr><td colspan=2><button type="button"><a href="/tasks/new">Add New</a></button>
        </td></tr></tfoot> -->
      <tbody>
      <% @tasks.each do |task| %>
      <tr><td class="col-sm-7"><a href="tasks/<%= task.id %>/edit"><%= task.description %></a></td>
        <td class="col-sm-1"><input type="checkbox" name="done" id="done<%= task.id %>" value="<%= task.id %>"
            <% if task.done == true %> class='box-checked' checked <% end %> /></td>
        <td><%= task.due_date == nil ? " " : task.due_date.strftime("%a %m-%d-%Y") %></td>
        <td class="col-sm-1" align="right">
          <button type="button" id="btn-delete-task-<%= task.id %>" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
          </td>
        <tr>
      <% end %>
    </tbody>
    </table>

    <h3>New Task</h3>
    <% if @task != nil && @task.errors.any? %>
    <h3>Please fix these errors:</h3>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

      <div class="form-group">
        <label for="task_description">Description</label>
        <input class="form-control" id="task_description" name="task[description]" type="text">
      </div>
      <div class="form-group">
        <label for="task_due_date">Due Date</label>
        <input class="form-control" id="task_due_date" name="task[due_date]" type="date">
      </div>
      <button type="submit" id="btn-create-task">Create Task</button>
    </form>

    <p style="padding-top: 20px" align="center"><button type="button" id="btn-return">Return to Lists</button></p>

  </div>
</div>
